<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<style>
.active {
	background-color: skyblue;
}
.error {
	background-color: pink;
}
</style>
<div id="app">
	{{message}}

	<p v-bind:title="message">
		over your mouse in here
	</p>

	<p v-if="seen">can you see me?</p>

	<div>
		<div v-for="todo in todos">
			{{todo.text}}
		</div>
	</div>

	<a v-on:click="setSeen">Seen</a>

	<input v-model="extraText" />
	<p>{{extraText}}</p>

	<todo-item v-for="todo in todos"
               v-bind:todo="todo"
               v-bind:key="todo.index"
	></todo-item>

	<div v-for="(value, name, index) in todos">
		{{index}} = {{name}} : {{value}}
	</div>

	<!--div class="active">active</div>
	<div class="error">error</div-->

	<!--div v-bind:class="{active: active, error: error}">active</div-->
	<div v-bind:class="active?activeClass:errorClass">프로세스</div>
	<button @click="changeClass">{{btnName}}</button>

	<div v-if="active">고칠 코드가 없습니다</div>
	<div v-else>코드를 고치세요</div>
</div>

<script>
	Vue.component("todo-item", {
		props: ["todo"]
		, template: "<p>{{todo.text}}</p>"
	})

	var app = new Vue({
		el: "#App"
		, data: {
			message: "Hello"
			, seen: false
			, todos: [
				{text : "todo first" }
				, {text : "todo second" }
				, {text : "todo third" }
			  ]
			, extraText: ""
			, active: true
			, activeClass: "active"
			, errorClass: "error"
			, btnName: "오류발생"
		}
		, methods: {
			setSeen: function() {
				this.seen = !this.seen;
			}
			, changeClass: function() {
				this.active = !this.active;
				if (this.active) {
					this.btnName = "오류발생";
				} else {
					this.btnName = "정상화";
				}
			}
		}
		, created: function() {
			this.extraText = "123";
		}
	})

	app.$watch('extraText', function(newVal, oldVal) {
		console.log("newVal="+newVal+", oldVal="+oldVal);
	})
</script>