<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<style>
.active {
	background-color: skyblue;
}
.error {
	background-color: pink;
}
.description {
	background-color: skyblue;
	font-weight: bold;
	font-size: 12px;
	width: 100%;
	color: blue;
}
.container {
	width: 30%;
	float: left;
	margin-left: 10px;
}

ul {
	list-style: none;
}
</style>
<ul id="app">
	<li class="container">
		<p v-bind:class="{description: 'description'}">보간법</p>
		{{message}}
		<p v-bind:class="{description: 'description'}">v-bind:title="message"</p>
		<p v-bind:title="message">
			over your mouse in here
		</p>
		<p v-bind:class="{description: 'description'}">v-if="seen"</p>
		<p v-if="seen">can you see me?</p>
		<p v-bind:class="{description: 'description'}">v-for="todo in todos"</p>
		<div>
			<div v-for="todo in todos">
				{{todo.text}}
			</div>
		</div>
		<p v-bind:class="{description: 'description'}">v-on:click="setSeen"</p>
		<a v-on:click="setSeen">Seen</a>

		<p v-bind:class="{description: 'description'}">v-model="extraText"</p>
		<input v-model="extraText" />
		<p>{{extraText}}</p>
		<p v-bind:class="{description: 'description'}">v-for="todo in todos" v-bind:todo="todo" v-bind:key="todo.index"</p>
		<todo-item v-for="todo in todos"
	               v-bind:todo="todo"
	               v-bind:key="todo.index"
		></todo-item>

		<p v-bind:class="{description: 'description'}">v-html="html"</p>
		<span>{{html}}</span>
		<span v-html="html"></span>
		<p v-bind:class="{description: 'description'}">v-bind:disabled="isButtonDisabled"</p>
		<button v-bind:disabled="isButtonDisabled">Button</button>

		<p v-bind:class="{description: 'description'}">v-on:[eve]="notice" === @[eve]="notice">button2</p>
		<button v-on:[eve]="notice">button1</button>
		<button @[eve]="notice">button2</button>
		<p v-bind:class="{description: 'description'}">v-bind:value="message" === :[attribute]="message"</p>
		<input v-bind:value="message" />
		<input :[attribute]="message" />
		<p v-bind:class="{description: 'description'}">computed</p>
		<span>{{reverseMessage}}</span>
	</li>
	<li class="container">
		<p v-bind:class="{description: 'description'}">computed v-for</p>
		<div>even number filter</div>
		<div>return this.numbers.filter(function(number) { return number % 2 === 0; })</div>
		<div>{{evenNumbers}}</div>
		<div v-for="number in evenNumbers">
			<div>{{number}}</div>
		</div>
		<!--div v-for="number in numbers">
			<div>{{number}}</div>
		</div-->
		<p v-bind:class="{description: 'description'}">v-on:keyup.enter page-down 13</p>
		<input v-on:keyup.enter="submit" />
		<input v-on:keydown.page-down="onPageDown" />
		<input v-on:keyup.13="submit" />
		<!--
		enter, tab, delete, esc, space, up, down, left, right
		delete 수식어는 delete키와 backspace키를 모두 인식합니다.
		-->
		<!--아래는 안됨(튜토리얼에는 된다고 되어 있는데 왜 안되는지 모름)-->
		<!--input v-on:keyup.f1="onF1" /-->
		<p v-bind:class="{description: 'description'}">v-on:keyup.alt.67 === alt+c</p>
		<!--
		alt+c
	    -->
		<input v-on:keyup.alt.67="submit" />

		<p v-bind:class="{description: 'description'}">v-on:click.ctrl.exact="onBtnClickWithCtrl"</p>
		<!--
		@click.ctrl.exact의 경우 ctrl+click만 허용 한다
		@click.ctrl의 경우 ctrl+shift+click 등도 허용 한다
	    -->
		<button v-on:click.ctrl.exact="onBtnClickWithCtrl">ctrl+@click</button>

		<p v-bind:class="{description: 'description'}">@click.left="onBtnClickWithMouse" middle right</p>
		<button @click.left="onBtnClickWithMouse"><-</button>
		<button @click.middle="onBtnClickWithMouse">|</button>
		<button @click.right="onBtnClickWithMouse">-></button>

		<p v-bind:class="{description: 'description'}">checkbox radio textarea select</p>

		<input v-model="text_input" placeholder="Please input here" />
		<div>{{text_input}}</div>
		<textarea v-model="text_textarea" placeholder="Please input couple of rows"></textarea>
		<div style="white-space: pre-line;">{{text_textarea}}</div>
		<input type="checkbox" v-model="checked" />
		<div>{{checked}}</div>
		<input type="checkbox" id="one" value="first" v-model="checkedes" />
		<label for="one">first</label>
		<input type="checkbox" id="two" value="second" v-model="checkedes" checked="checked" />
		<label for="two">second</label>
		<input type="checkbox" id="three" value="third" v-model="checkedes" />
		<label for="three">third</label>
		<div>{{checkedes}}</div>

		<input type="radio" value="one" id="r1" v-model="picked" />
		<label for="r1">one</label>
		<input type="radio" value="two" id="r2" v-model="picked" checked="checked" />
		<label for="r2">two</label>
		<input type="radio" value="three" id="r3" v-model="picked" />
		<label for="r3">three</label>
		<div>{{picked}}</div>
		<select @change="getText" v-model="selected">
			<option value="a">A</option>
			<option value="b">B</option>
			<option value="c">C</option>
		</select>
		<div>{{selected}}</div>

		<select v-model="selectedes" multiple>
			<option value="a">A</option>
			<option value="b">B</option>
			<option value="c">C</option>
		</select>
		<div>{{selectedes}}</div>

		<select v-model="select">
			<option v-for="o in options" v-bind:value="o.value">{{o.text}}</option>
		</select>
		<div>{{select}}</div>
		<input type="checkbox" v-model="toggle" true-value="Y" false-value="N" />
		<div>{{toggle}}</div>
		<input type="radio" v-model="toggleRad" v-bind:value="1" />1-
		<input type="radio" v-model="toggleRad" v-bind:value="2" />2-
		<input type="radio" v-model="toggleRad" v-bind:value="3" />3-
		<div>{{toggleRad}}</div>
	</li>
	<li class="container">
		<p v-bind:class="{description: 'description'}">v-model.lazy="msg"</p>
		<!--
			v-model에 lazy 수식어를 붙이면 input 이벤트가 아니라 change 이벤트에 동기화 된다.
		-->
		<input v-model.lazy="msg" />
		<div>{{msg}}</div>

		<p v-bind:class="{description: 'description'}">v-model.number="num"</p>
		<input v-model.number="num" />

		<p v-bind:class="{description: 'description'}">v-model.trim="extraText"</p>
		<input v-model.trim="extraText" />
		{{extraText}}
	</li>
</ul>

<script>
	Vue.component("todo-item", {
		props: ["todo"]
		, template: "<p>{{todo.text}}</p>"
	})

	//Vue.config.keyCodes.f1 = 112;

	var app = new Vue({
		el: "#App"
		, data: {
			message: "Hello"
			, seen: false
			, todos: [
				{text : "todo first" }
				, {text : "todo second" }
				, {text : "todo third" }
			  ]
			, extraText: ""
			, html: "<span style='color:red;'>hello</span>"
			, isButtonDisabled: true
			, eve: "click"
			, attribute: "value"
			, numbers: [1, 2, 3, 4, 5]
			, text_input: ""
			, text_textarea: ""
			, checked: true
			, checkedes: ["first", "third"]
			, picked: "three"
			, selected: "c"
			, selectedes: []
			, options: [
				{text: "One", value: 1}
				, {text: "Two", value: 2}
				, {text: "Three", value: 3}
			  ]
			, select: "2"
			, toggle: ""
			, toggleRad: ""
			, msg: ""
			, num: 0
		}
		, computed: {
			reverseMessage: function() {
				return this.message.split("").reverse().join("");
			}
			, evenNumbers: function() {
				return this.numbers.filter(function(number) {
					return number % 2 === 0;
				})
			}
		}
		, methods: {
			setSeen: function() {
				this.seen = !this.seen;
			}
			, notice: function() {
				alert("You did to "+this.eve);
			}
			, submit: function(e) {
				alert(e.target.value);
			}
			, onPageDown: function() {
				alert("page-down");
			}
			, onF1: function() {
				alert("F1");
			}
			, onBtnClickWithCtrl: function() {
				alert("@click.ctrl");
			}
			, onBtnClickWithMouse: function(e) {
				alert(e.target.text);
			}
			, getText: function(e) {
				alert(e.target.options[e.target.selectedIndex].text);
			}
		}
		, created: function() {
			this.extraText = "123";
		}
	})

	app.$watch('extraText', function(newVal, oldVal) {
		console.log("newVal="+newVal+", oldVal="+oldVal);
	})

	app.message = "안녕하세요 좋은 아침입니다. 아침에 식사는 하셨나요?";
	console.log(app.reverseMessage);
</script>